<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="/scrappertest" method="POST">
  <input type="text" id="bussiness_name" name="business" placeholder="Business name" class="action_input_1"/>
  <input type="text" id="bussiness_number" name="phone" placeholder="Business telephone number" class="action_input_1"/>
  <input type="text" id="zip" name="zip" placeholder="Zip" class="action_input_1"/>
  <input type="text" id="site" name="site" placeholder="Site" class="action_input_1"/>
  <input type="submit" class="scan_now" value="Scan Now" />
</form>

</body>
</html>